.current-conditions {
    &.sunny {
        content: url('../../images/icons/current-conditions/Sunny.gif');
    }

    &.clear {
        content: url('../../images/icons/current-conditions/Clear.gif');
    }

    &.partly-cloudy {
        content: url('../../images/icons/current-conditions/Partly-Cloudy.gif');
    }

    &.mostly-clear {
        content: url('../../images/icons/current-conditions/Mostly-Clear.gif');
    }

    &.cloudy {
        content: url('../../images/icons/current-conditions/Cloudy.gif');
    }

    &.fog {
        content: url('../../images/icons/current-conditions/Fog.gif');
    }

    &.rain-sleet {
        content: url('../../images/icons/current-conditions/Rain-Sleet.gif');
    }

    &.sleet {
        content: url('../../images/icons/current-conditions/Sleet.gif');
    }

    &.shower {
        content: url('../../images/icons/current-conditions/Shower.gif');
    }

    &.rain {
        content: url('../../images/icons/current-conditions/Rain.gif');
    }

    &.heavy-snow {
        content: url('../../images/icons/current-conditions/Heavy-Snow.gif');
    }

    &.light-snow {
        content: url('../../images/icons/current-conditions/Light-Snow.gif');
    }

    &.rain-snow {
        content: url('../../images/icons/current-conditions/Rain-Snow.gif');
    }

    &.freezing-rain-snow {
        content: url('../../images/icons/current-conditions/Freezing-Rain-Snow.gif');
    }

    &.freezing-rain {
        content: url('../../images/icons/current-conditions/Freezing-Rain.gif');
    }

    &.snow-sleet {
        content: url('../../images/icons/current-conditions/Snow-Sleet.gif');
    }

    &.scattered-thunderstorms-day {
        content: url('../../images/icons/current-conditions/Scattered-Thunderstorms-Day.gif');
    }

    &.scattered-thunderstorms-night {
        content: url('../../images/icons/current-conditions/Scattered-Thunderstorms-Night.gif');
    }

    &.thunderstorm {
        content: url('../../images/icons/current-conditions/Thunderstorm.gif');
    }

    &.windy {
        content: url('../../images/icons/current-conditions/Windy.gif');
    }

    &.blowing-snow {
        content: url('../../images/icons/current-conditions/Blowing-Snow.gif');
    }
}

.regional-maps {
    &.freezing-rain-1992 {
        content: url('../../images/icons/regional-maps/Freezing-Rain-1992.gif');
    }

    &.freezing-rain-snow-1994 {
        content: url('../../images/icons/regional-maps/Freezing-Rain-Snow-1994.gif');
    }

    &.blowing-snow {
        content: url('../../images/icons/regional-maps/Blowing-Snow.gif');
    }

    &.heavy-snow-1994 {
        content: url('../../images/icons/regional-maps/Heavy-Snow-1994.gif');
    }

    &.thundersnow {
        content: url('../../images/icons/regional-maps/ThunderSnow.gif');
    }

    &.light-snow {
        content: url('../../images/icons/regional-maps/Light-Snow.gif');
    }

    &.snow-sleet {
        content: url('../../images/icons/regional-maps/Snow-Sleet.gif');
    }

    &.sleet {
        content: url('../../images/icons/regional-maps/Sleet.gif');
    }

    &.rain-snow-1992 {
        content: url('../../images/icons/regional-maps/Rain-Snow-1992.gif');
    }

    &.thunderstorm {
        content: url('../../images/icons/regional-maps/Thunderstorm.gif');
    }

    &.scattered-tstorms-1994 {
        content: url('../../images/icons/regional-maps/Scattered-Tstorms-1994.gif');
    }

    &.scattered-tstorms-night-1994 {
        content: url('../../images/icons/regional-maps/Scattered-Tstorms-Night-1994.gif');
    }

    &.rain-1992 {
        content: url('../../images/icons/regional-maps/Rain-1992.gif');
    }

    &.scattered-showers-1994 {
        content: url('../../images/icons/regional-maps/Scattered-Showers-1994.gif');
    }

    &.scattered-showers-night-1994 {
        content: url('../../images/icons/regional-maps/Scattered-Showers-Night-1994.gif');
    }

    &.fog {
        content: url('../../images/icons/regional-maps/Fog.gif');
    }

    &.cloudy {
        content: url('../../images/icons/regional-maps/Cloudy.gif');
    }

    &.mostly-cloudy-1994 {
        content: url('../../images/icons/regional-maps/Mostly-Cloudy-1994.gif');
    }

    &.partly-clear-1994 {
        content: url('../../images/icons/regional-maps/Partly-Clear-1994.gif');
    }

    &.partly-cloudy {
        content: url('../../images/icons/regional-maps/Partly-Cloudy.gif');
    }

    &.partly-cloudy-night {
        content: url('../../images/icons/regional-maps/Partly-Cloudy-Night.gif');
    }

    &.clear-1992 {
        content: url('../../images/icons/regional-maps/Clear-1992.gif');
    }

    &.sunny {
        content: url('../../images/icons/regional-maps/Sunny.gif');
    }

    &.wind {
        content: url('../../images/icons/regional-maps/Wind.gif');
    }

    &.cloudy-wind {
        content: url('../../images/icons/regional-maps/Cloudy-Wind.gif');
    }

    &.sunny-wind-1994 {
        content: url('../../images/icons/regional-maps/Sunny-Wind-1994.gif');
    }

    &.clear-wind-1994 {
        content: url('../../images/icons/regional-maps/Clear-Wind-1994.gif');
    }

    &.blowing-snow {
        content: url('../../images/icons/regional-maps/Blowing-Snow.gif');
    }

    &.cold {
        content: url('../../images/icons/regional-maps/Cold.gif');
    }

    &.smoke {
        content: url('../../images/icons/regional-maps/Smoke.gif');
    }

    &.hot {
        content: url('../../images/icons/regional-maps/Hot.gif');
    }

    &.haze {
        content: url('../../images/icons/regional-maps/Haze.gif');
    }
}